<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>cadastrar</title>
</head>
<body>
	<form action="cadastrar" method="POST">
		<label>Nome:</label> 
		<input type="text" name="nome"></input><br>
		<label>Data de Nascimento:</label> 
		<input type="date" name="data"></input><br>
		<label>Logradouro:</label> 
		<input type="text" name="logradouro"></input><br>
		<label>CEP:</label> 
		<input type="text" name="cep"></input><br>
		<label>Numero:</label> 
		<input type="text" name="numero"></input><br>
		<button type="submit" name="cadastro" value="cad">Cadastrar</button>
	</form>
</body>
</html>